<div layout layout-wrap>
  <div ng-repeat="person in $ctrl.people" flex-gt-sm="33" flex-sm="50" flex-xs="100">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{person.firstName}} {{person.lastName}}</span>
          <span class="md-subhead">Person ID: {{person.id}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ui-sref="person({ personId: {{person.id}} })">View Details</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
