<md-content layout="column" class="md-padding">
  <md-input-container>
    <label>Email Address</label>
    <input type="email" ng-model="$ctrl.user.username" />
  </md-input-container>
  <md-input-container>
    <label>Password</label>
    <input type="password" ng-model="$ctrl.user.password" />
  </md-input-container>
  <div layout="row" layout-align="center center" style="padding-top:20px;">
    <md-button class="md-raised md-primary" ng-click="$ctrl.login()">Login</md-button>
    <md-button href="/register" md-no-ink="md-no-ink">Register</md-button>
  </div>
</md-content>
