<div class="row align-center">
  <div class="small-12 medium-6 column">
    <form ng-submit="$ctrl.register()">
      <div class="row column register-form">
        <h4 class="text-center">Register with your email account</h4>
        <p class="lead">{{$ctrl.error}}</p>
        <label>Email
          <input type="text" placeholder="somebody@example.com" ng-model="$ctrl.user.username">
        </label>
        <label>Password
          <input type="password" placeholder="Password" ng-model="$ctrl.user.password">
        </label>
        <p><button type="submit" class="button expanded">Register</button></p>
      </div>
    </form>
  </div>
</div>
